.big-info-block-container-new{
    float: none;
    width: 100%;
}

.big-info-block{
    margin-top: 1rem;
    height: 416px;
    border: solid 1px #DBDBDC;
    background: white;
    width: 100%;
}

.big-info-table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 40px);
}

/*решил не описывать новые классы, а поиграть с CSS*/


.big-info-block table {
    /*margin: auto;*/
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.big-info-block td, .big-info-block th{
    width: 150px;
}

.big-info-block tr > td:first-child{
    text-align: left;
    align-content: center;
}

.big-info-block h5 {
    display: inline-block;
    float: top;
}

.osat, .rsp, .prd{
    width: 30px;
    height: 24px;
    background: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
}